[package]
name = "owlyshield_ransom"
version = "1.0.0"
edition = "2021"
license-file = "LICENSE.txt"

[dependencies]
moonfire-tflite = { path = "moonfire-tflite" }
slc-paths = { path = "slc-paths" }
win-pe-inspection = { path = "win-pe-inspection" }
wchar = "0.11.0"
widestring = "1.0.2"
sysinfo = "0.20.3"
registry = "1.2.0"
strum = "0.24.1"
strum_macros = "0.24.2"
byteorder = "1.4.3"
chrono = "0.4.19"
num = "0.4.0"
num-derive = "0.3.3"
num-traits = "0.2.15"
serde_json = "1.0.82"
serde = { version = "1.0.140", features = ["derive"] }
log = "0.4.17"
winlog = { version = "0.2.6", features=["env_logger"] }
windows-service = "0.5.0"
rmp-serde = "1.1.0"
hostname = "0.3.1"
curl = "0.4.43"
jsonrpc-http-server = "18.0.0"
rumqtt = "0.31.0"
lru = "0.9.0"

[dependencies.windows]
version = "0.44.0"
features = [
    "Win32_Foundation",
    "Win32_Security",
    "Win32_Storage_FileSystem",
    "Win32_Storage_InstallableFileSystems",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_ProcessStatus",
    "Win32_System_Threading",
    "Win32_System_RemoteDesktop",
]

[profile.release]
debug = true

[features]
default = ["mqtt"]
service = ["malware"]
malware = []
record = []
replay = []
jsonrpc = []
mqtt = []
